# Web scarping 
- ### Import 
- ### Test result I 
- ### Test result II 
- ### Test result III
- ### Final Dataframe -3980 companies

In [34]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as Bs
import numpy as np

In [8]:
Headers=({"User-Agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.1.1 Safari/605.1.15","Accept-Language":"en-US,en;q=0.5"})

In [ ]:
web_page=requests.get("https://www.ambitionbox.com/list-of-companies?page=1",headers=Headers)
web_page
# to check response

In [16]:
web_page=web_page.text

In [17]:
soup=Bs(web_page,"lxml")

In [ ]:
print(soup.prettify())
# format the html code

In [21]:
for i in soup.find_all("h1"):
    print(i.text)

							List of companies in India

In [22]:
for i in soup.find_all("h1"):
    print(i.text.strip())

List of companies in India

In [ ]:

for i in soup.find_all("h2"):
  print(i.text.strip())

TCS
Accenture
Cognizant
Wipro
Capgemini
HDFC Bank
ICICI Bank
Infosys
HCLTech
Tech Mahindra
Genpact
Teleperformance
Concentrix Corporation
Axis Bank
Amazon
Jio
Reliance Retail
IBM
iEnergizer
HDB Financial Services
Companies by  Industry
Companies by  Locations
Companies by  Type
Companies by  Badges

In [66]:
company_=soup.find_all("div",class_="companyCardWrapper")

# I) Test result I

In [130]:
name=[]
rating=[]
company_type=[]
jobs=[]
reviews=[]
Locations=[]
for i in company_:
  try:
    name.append(i.find("h2").text.strip())
  except:
    name.append(np.nan)

  try:
   rating.append(i.find(class_="rating_text").text.strip())
  except:
    rating.append(np.nan)
  try:
     company_type.append(i.find_all("span",class_="companyCardWrapper__interLinking")[0].text.strip().split('|')[0].strip())
  except:
      company_type.append(np.nan)
  try:
     locations.append(i.find_all("span",class_="companyCardWrapper__interLinking")[0].text.strip().split('|')[4].strip())
  except:
      locations.append(np.nan)
  try:
    reviews.append(i.find_all("a",class_="companyCardWrapper__ActionWrapper")[0].text.strip())
  except:
    reviews.append(np.nan)
  try:
     jobs.append(i.find_all("a",class_="companyCardWrapper__ActionWrapper")[3].text.strip())
  except:
    jobs.append(np.nan)

# name
# rating
# reviews
# jobs
# company_type
# locations

In [ ]:
company_dict={"Name":name,"Rating":rating,"Company_type":company_type,"Jobs":jobs,"Reviews":reviews,"Locations":location}

In [101]:
company_dict["Locations"]

['Mumbai +370 more',
 'Bangalore / Bengaluru +190 more',
 'Chennai +188 more',
 'Hyderabad / Secunderabad +295 more',
 'Bangalore / Bengaluru +152 more',
 'Panagarh +1611 more',
 'Panagarh +1322 more',
 'Pune +193 more',
 'Noida +196 more',
 'Hyderabad / Secunderabad +277 more',
 'Hyderabad / Secunderabad +132 more',
 nan,
 'Gurgaon / Gurugram +138 more',
 'Panagarh +1351 more',
 'Hyderabad / Secunderabad +454 more',
 nan,
 nan,
 'Bangalore / Bengaluru +154 more',
 nan,
 nan]

In [102]:
company_dataframe=pd.DataFrame(company_dict)

# II)  Test Result II

In [103]:
company_dataframe

,Name,Rating,Company_type,Jobs,Reviews,Locations
0,TCS,3.7,IT Services & Consulting,54 Jobs,83.1k Reviews,Mumbai +370 more
1,Accenture,3.9,IT Services & Consulting,33.9k Jobs,51.8k Reviews,Bangalore / Bengaluru +190 more
2,Cognizant,3.8,IT Services & Consulting,1.1k Jobs,46.6k Reviews,Chennai +188 more
3,Wipro,3.7,IT Services & Consulting,541 Jobs,46.4k Reviews,Hyderabad / Secunderabad +295 more
4,Capgemini,3.8,IT Services & Consulting,958 Jobs,38.4k Reviews,Bangalore / Bengaluru +152 more
5,HDFC Bank,3.9,Banking,181 Jobs,37.1k Reviews,Panagarh +1611 more
6,ICICI Bank,4.0,Banking,1 Jobs,36.4k Reviews,Panagarh +1322 more
7,Infosys,3.7,IT Services & Consulting,1.1k Jobs,35.9k Reviews,Pune +193 more
8,HCLTech,3.6,IT Services & Consulting,168 Jobs,33.2k Reviews,Noida +196 more
9,Tech Mahindra,3.6,IT Services & Consulting,447 Jobs,30.4k Reviews,Hyderabad / Secunderabad +277 more
10,Genpact,3.9,IT Services & Consulting,1.6k Jobs,28.9k Reviews,Hyderabad / Secunderabad +132 more
11,Teleperformance,3.9,50k-1 Lakh Employees,319 Jobs,26.6k Reviews,NaN
12,Concentrix Corporation,3.8,IT Services & Consulting,48 Jobs,24.7k Reviews,Gurgaon / Gurugram +138 more
13,Axis Bank,3.8,Banking,94 Jobs,23.9k Reviews,Panagarh +1351 more
14,Amazon,4.1,Internet,105 Jobs,23.9k Reviews,Hyderabad / Secunderabad +454 more
15,Jio,3.9,50k-1 Lakh Employees,2.5k Jobs,21.5k Reviews,NaN
16,Reliance Retail,3.9,Retail,22 Jobs,21k Reviews,NaN
17,IBM,4.1,IT Services & Consulting,2.1k Jobs,21k Reviews,Bangalore / Bengaluru +154 more
18,iEnergizer,4.7,BPO,74 Jobs,19.7k Reviews,NaN
19,HDB Financial Services,4.0,NBFC,91 Jobs,19.3k Reviews,NaN

In [104]:
company_dataframe.shape

(20, 6)

# III) Test result III

#### 10-pages -180 companies

In [ ]:
final_dataframe = pd.DataFrame()


for j in range(1, 10):
    url = "https://www.ambitionbox.com/list-of-companies?page={}".format(j)
    headers = {
        "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.1.1 Safari/605.1.15",
        "Accept-Language": "en-US,en;q=0.5"
    }

    try:
        web_page = requests.get(url, headers=headers, timeout=10)
        web_page.raise_for_status()  
    except requests.exceptions.RequestException as e:
        print(f"Error fetching page {j}: {e}")
        continue 

    soup = Bs(web_page.content, "lxml")
    company_ = soup.find_all("div", class_="companyCardWrapper")

   
    name = []
    rating = []
    company_type = []
    jobs = []
    reviews = []
    locations = []

    for i in company_:
        try:
            name.append(i.find("h2").text.strip())
        except AttributeError:
            name.append(np.nan)

        try:
            rating.append(i.find(class_="rating_text").text.strip())
        except AttributeError:
            rating.append(np.nan)

        try:
            company_type.append(i.find_all("span", class_="companyCardWrapper__interLinking")[0].text.strip().split('|')[0].strip())
        except (AttributeError, IndexError):
            company_type.append(np.nan)

        try:
            locations.append(i.find_all("span", class_="companyCardWrapper__interLinking")[0].text.strip().split('|')[4].strip())
        except (AttributeError, IndexError):
            locations.append(np.nan)

        try:
            reviews.append(i.find_all("a", class_="companyCardWrapper__ActionWrapper")[0].text.strip())
        except (AttributeError, IndexError):
            reviews.append(np.nan)

        try:
            jobs.append(i.find_all("a", class_="companyCardWrapper__ActionWrapper")[3].text.strip())
        except (AttributeError, IndexError):
            jobs.append(np.nan)

    
    company_dict = {
        "Name": name,
        "Rating": rating,
        "Company_type": company_type,
        "Jobs": jobs,
        "Reviews": reviews,
        "Locations": locations
    }
    company_dataframe = pd.DataFrame(company_dict)

   
    final_dataframe = pd.concat([final_dataframe, company_dataframe], ignore_index=True)


final_dataframe.sample(5)

,Name,Rating,Company_type,Jobs,Reviews,Locations
43,HSBC Group,4.0,Financial Services,100 Jobs,7.2k Reviews,Pune +62 more
165,LG Electronics,4.0,Consumer Electronics & Appliances,3 Jobs,3.1k Reviews,Seoul +262 more
75,JSW Steel,4.0,Iron & Steel,74 Jobs,5.3k Reviews,Mumbai +153 more
29,WNS,3.4,BPO,105 Jobs,10.4k Reviews,NaN
31,IndusInd Bank,3.6,Banking,104 Jobs,10.1k Reviews,Gurgaon/Gurugram +714 more

In [141]:
final_dataframe.shape

(180, 6)

# Final Dataframe

- ### 200 pages  -- 3980 companies

In [ ]:

final_dataframe = pd.DataFrame()


for j in range(1, 200):
    url = "https://www.ambitionbox.com/list-of-companies?page={}".format(j)
    headers = {
        "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.1.1 Safari/605.1.15",
        "Accept-Language": "en-US,en;q=0.5"
    }

    try:
        web_page = requests.get(url, headers=headers, timeout=10)
        web_page.raise_for_status() 
    except requests.exceptions.RequestException as e:
        print(f"Error fetching page {j}: {e}")
        continue  

    soup = Bs(web_page.content, "lxml")
    company_ = soup.find_all("div", class_="companyCardWrapper")

   
    name = []
    rating = []
    company_type = []
    jobs = []
    reviews = []
    locations = []

    for i in company_:
        try:
            name.append(i.find("h2").text.strip())
        except AttributeError:
            name.append(np.nan)

        try:
            rating.append(i.find(class_="rating_text").text.strip())
        except AttributeError:
            rating.append(np.nan)

        try:
            company_type.append(i.find_all("span", class_="companyCardWrapper__interLinking")[0].text.strip().split('|')[0].strip())
        except (AttributeError, IndexError):
            company_type.append("public")

        try:
            locations.append(i.find_all("span", class_="companyCardWrapper__interLinking")[0].text.strip().split('|')[4].strip())
        except (AttributeError, IndexError):
            locations.append("Delhi")

        try:
            reviews.append(i.find_all("a", class_="companyCardWrapper__ActionWrapper")[0].text.strip())
        except (AttributeError, IndexError):
            reviews.append(np.nan)

        try:
            jobs.append(i.find_all("a", class_="companyCardWrapper__ActionWrapper")[3].text.strip())
        except (AttributeError, IndexError):
            jobs.append(np.nan)

   
    company_dict = {
        "Name": name,
        "Rating": rating,
        "Company_type": company_type,
        "Jobs": jobs,
        "Reviews": reviews,
        "Locations": locations
    }
    company_dataframe = pd.DataFrame(company_dict)

    
    final_dataframe = pd.concat([final_dataframe, company_dataframe], ignore_index=True)


final_dataframe.head()

,Name,Rating,Company_type,Jobs,Reviews,Locations
0,TCS,3.7,IT Services & Consulting,55 Jobs,83.1k Reviews,Mumbai +370 more
1,Accenture,3.9,IT Services & Consulting,33.9k Jobs,51.8k Reviews,Dublin +190 more
2,Cognizant,3.8,IT Services & Consulting,1.1k Jobs,46.6k Reviews,Teaneck. New Jersey. +188 more
3,Wipro,3.7,IT Services & Consulting,555 Jobs,46.4k Reviews,Bangalore/Bengaluru +295 more
4,Capgemini,3.8,IT Services & Consulting,959 Jobs,38.4k Reviews,Paris +152 more

In [ ]:
final_dataframe

,Name,Rating,Company_type,Jobs,Reviews,Locations
0,TCS,3.7,IT Services & Consulting,55 Jobs,83.1k Reviews,Mumbai +370 more
1,Accenture,3.9,IT Services & Consulting,33.9k Jobs,51.8k Reviews,Dublin +190 more
2,Cognizant,3.8,IT Services & Consulting,1.1k Jobs,46.6k Reviews,Teaneck. New Jersey. +188 more
3,Wipro,3.7,IT Services & Consulting,555 Jobs,46.4k Reviews,Bangalore/Bengaluru +295 more
4,Capgemini,3.8,IT Services & Consulting,959 Jobs,38.4k Reviews,Paris +152 more
...,...,...,...,...,...,...
3975,National Institute of Technology,4.2,Education & Training,-- Jobs,205 Reviews,New Delhi +30 more
3976,Gold's Gym,3.9,Fitness & Wellness,-- Jobs,205 Reviews,Delhi
3977,Sanghi Cement,3.8,Building Material,-- Jobs,205 Reviews,Delhi
3978,6D Technologies,3.4,Telecom,5 Jobs,205 Reviews,Delhi
3979,Alchem International,3.9,Pharma,-- Jobs,205 Reviews,Delhi

In [ ]:
final_dataframe.head(50)

,Name,Rating,Company_type,Jobs,Reviews,Locations
0,TCS,3.7,IT Services & Consulting,55 Jobs,83.1k Reviews,Mumbai +370 more
1,Accenture,3.9,IT Services & Consulting,33.9k Jobs,51.8k Reviews,Dublin +190 more
2,Cognizant,3.8,IT Services & Consulting,1.1k Jobs,46.6k Reviews,Teaneck. New Jersey. +188 more
3,Wipro,3.7,IT Services & Consulting,555 Jobs,46.4k Reviews,Bangalore/Bengaluru +295 more
4,Capgemini,3.8,IT Services & Consulting,959 Jobs,38.4k Reviews,Paris +152 more
5,HDFC Bank,3.9,Banking,183 Jobs,37.1k Reviews,Mumbai +1611 more
6,ICICI Bank,4.0,Banking,1 Jobs,36.4k Reviews,Mumbai +1322 more
7,Infosys,3.7,IT Services & Consulting,1.1k Jobs,35.9k Reviews,Bengaluru/Bangalore +193 more
8,HCLTech,3.6,IT Services & Consulting,168 Jobs,33.2k Reviews,Noida +196 more
9,Tech Mahindra,3.6,IT Services & Consulting,448 Jobs,30.4k Reviews,Pune +277 more
10,Genpact,3.9,IT Services & Consulting,1.6k Jobs,28.9k Reviews,New York +132 more
11,Teleperformance,3.9,50k-1 Lakh Employees,320 Jobs,26.6k Reviews,Delhi
12,Concentrix Corporation,3.8,IT Services & Consulting,47 Jobs,24.7k Reviews,Fremont +138 more
13,Axis Bank,3.8,Banking,94 Jobs,24k Reviews,Mumbai +1351 more
14,Amazon,4.1,Internet,105 Jobs,23.9k Reviews,Seattle +454 more
15,Jio,3.9,50k-1 Lakh Employees,2.5k Jobs,21.5k Reviews,Delhi
16,Reliance Retail,3.9,Retail,22 Jobs,21k Reviews,Delhi
17,IBM,4.1,IT Services & Consulting,2.1k Jobs,21k Reviews,Armonk +154 more
18,iEnergizer,4.7,BPO,74 Jobs,19.7k Reviews,Delhi
19,HDB Financial Services,4.0,NBFC,91 Jobs,19.3k Reviews,Delhi
20,Larsen & Toubro Limited,4.0,Engineering & Construction,171 Jobs,17.6k Reviews,Mumbai +644 more
21,Deloitte,3.8,Management Consulting,56 Jobs,16.5k Reviews,Delhi
22,BYJU'S,3.1,EdTech,-- Jobs,15.9k Reviews,Bangalore +310 more
23,Kotak Mahindra Bank,3.8,Banking,104 Jobs,15.4k Reviews,Mumbai +600 more
24,LTIMindtree,3.5,IT Services & Consulting,93 Jobs,15.1k Reviews,Bangalore / Bengaluru +121 more
25,Reliance Industries,4.0,Oil & Gas,30 Jobs,14.9k Reviews,Navi Mumbai +712 more
26,Vodafone Idea,4.1,Telecom,16 Jobs,14.8k Reviews,Mumbai +650 more
27,Bharti Airtel,4.0,Telecom,182 Jobs,12.9k Reviews,Gurgaon/Gurugram +688 more
28,Tata Motors,4.2,Automobile,20 Jobs,11.3k Reviews,Pune +456 more
29,WNS,3.4,BPO,105 Jobs,10.4k Reviews,Delhi
30,Flipkart,4.0,Internet,148 Jobs,10.2k Reviews,Bangalore +521 more
31,IndusInd Bank,3.6,Banking,104 Jobs,10.1k Reviews,Gurgaon/Gurugram +714 more
32,Ernst & Young,3.5,Management Consulting,2k Jobs,9.8k Reviews,Delhi
33,IDFC FIRST Bank,4.0,Banking,54 Jobs,9.5k Reviews,Mumbai +613 more
34,DXC Technology,3.7,IT Services & Consulting,155 Jobs,9.4k Reviews,Minato +100 more
35,AU Small Finance Bank,4.3,Banking,13 Jobs,9.4k Reviews,Jaipur +434 more
36,Mahindra & Mahindra,4.1,Automobile,5 Jobs,9.4k Reviews,Mumbai +498 more
37,Infosys BPM,3.7,BPO,62 Jobs,9k Reviews,Delhi
38,Bajaj Finserv,4.0,Financial Services,28 Jobs,8.5k Reviews,Pune +957 more
39,HDFC Life,4.0,Insurance,78 Jobs,8.4k Reviews,Mumbai +589 more
40,Conneqt Business Solutions,3.7,BPO,53 Jobs,8.4k Reviews,Delhi
41,PwC,3.5,Management Consulting,2.1k Jobs,8.4k Reviews,London +106 more
42,Mphasis,3.4,IT Services & Consulting,100 Jobs,7.7k Reviews,Bangalore/Bengaluru +53 more
43,HSBC Group,4.0,Financial Services,100 Jobs,7.2k Reviews,Pune +62 more
44,Yes Bank,3.8,Banking,78 Jobs,7.1k Reviews,Mumbai +472 more
45,Maruti Suzuki,4.2,Automobile,712 Jobs,7.1k Reviews,New Delhi +390 more
46,Startek,3.2,10k-50k Employees,67 Jobs,7k Reviews,Delhi
47,Paytm,3.3,FinTech,41 Jobs,7k Reviews,Noida +339 more
48,Asian Paints,4.0,Chemicals,34 Jobs,7k Reviews,Mumbai +463 more
49,Bandhan Bank,3.8,Banking,7 Jobs,6.9k Reviews,Kolkata +826 more

In [ ]:
final_dataframe.shape

(3980, 6)